/* WOrdpress Styling Sections */

#wpcontent {
    background-color: #f1f1f1;
}

#minor-publishing-actions, #misc-publishing-actions #visibility {
    display: block !important;
}

/* Start ACF MODULES Styles */

.acf-postbox.seamless > .acf-fields > .acf-field {
    background-color: #f1f1f1;
}

// .post-php [id*="acf"].postbox {
//     background-color: #f0f0f0;
//     border: 0px;
// }

.post-php #poststuff [id*="acf"].postbox > h2.hndle,
.acf-postbox.seamless > .handlediv {
    display: none;
}

.post-php #poststuff [id*="acf"].postbox .inside {
    padding: 0px;
    margin: 0px;
}

.acf-field .acf-label label {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4em;
    margin: 0 0 3px;
    color: #444444;
    letter-spacing: 0.02em;
}

.acf-flexible-content .layout {
    border: 1px solid #ddd;
    border-top: 0px;
    border-radius: 2px;
}

.acf-flexible-content .layout .acf-fc-layout-handle {
    font-family: Circular, Helvetica, sans-serif;
    padding: 6px 0px;
    padding-left: 8px;
    background-color: #fff;
    color: #373737;
    font-weight: 500;
    text-transform: uppercase;
    transition: box-shadow 0.25s ease;
}

.acf-flexible-content .layout.-collapsed .acf-fc-layout-handle:hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06),
                0px 8px 8px 0px rgba(0,0,0,0.12);
}

.acf-flexible-content .layout span.acf-fc-layout-order {
    color: #bbb;
    border-radius: 20px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 8px;
    margin-top: 0px;
}



.acf-flexible-content .layout .acf-fc-layout-controlls {
    position: absolute;
    top: 16px !important;
    right: 8px !important;
}



.acf-flexible-content .layout.-collapsed > .acf-fields, .acf-flexible-content .layout.-collapsed > .acf-table {
    transition: all 0.2s ease;
}

.acf-flexible-content .layout .acf-fc-layout-controlls .acf-icon.-collapsed:hover {
    color: #fff;
    background: #a8a8a8;
}

.acf-repeater .acf-row-handle .acf-icon.-collapse {
    display: none;
    position: absolute;
    top: 17px;
    margin: -8px 0px 0px 0px;
    right: 62px;
}

.acf-flexible-content .layout.-collapsed .acf-fc-layout-handle {
    border-bottom-width: 0;
}


.acf-fc-popup {
    z-index: 999;
}


// layout classes for flexible content
.acf-pull-left {
    clear: none !important;
    float: left !important;
    min-height: 40px !important;
    border-right: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
}

.acf-pull-right {
    clear: none !important;
    float: right !important;
    min-height: 40px !important;
    border-left: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
}

.acf-pull-center {
    clear: none !important;
    min-height: 40px !important;
    border-right: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
}

.acf-clear-left {
    clear: left !important;
}

.acf-clear-both {
    clear: both !important;
}

.acf-expanded .acf-field {
	width: 100% !important;
}

.z-index {
    z-index: 1;
}


// Deck
///////
.deck, .carousel {

  .acf-repeater .acf-row-handle.order {
    width: 100% !important;
    display: inline-block;
    background-color: #f6f6f6;
    text-align: left !important;
    border: 0px;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 0px;
  }

  .acf-repeater .acf-row.-collapsed .acf-row-handle.order {
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #ddd;
    // border-bottom: 0px;
  }

  tr.acf-row > td.acf-fields:after {
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
  }

  tr.acf-row.-collapsed > td.acf-fields:after {
    border-bottom: 0px;
    border-radius: 3px;
  }

  .acf-repeater .acf-row-handle.order span {
    padding: 4px;
    text-shadow: none;
    padding-right: 0px;
    padding-left: 9px;
    margin-right: 5px;
  }

  // Row Title
  .acf-repeater .acf-row-handle.order span::after {
    content: "  Card";
    font-size: 14px;
    font-weight: 100;
    text-shadow: none;
    text-transform: uppercase;
    padding: 4px;
    margin-left: 10px;
  }// /Row Title

  .acf-repeater .acf-table {
    background-color: #fff;
    border: 0px;
  }

  // Fields
  .acf-fields {
    border-bottom: 1px solid #ddd;
  }

  .acf-field.acf-field-clone {
    border-right: 1px solid #ddd;
  }
  .acf-fields > .acf-field.acf-field-flexible-content {
    border-right: 1px solid #ddd;
  }

  .acf-fields > .acf-field.acf-field-flexible-content[data-name="wildcard_content"] {
    border-top: 0px;
  }
  
  // Add Piece button
  .acf-fields > .acf-field .acf-flexible-content a.acf-button[data-event="add-layout"] {
    margin: 8px 0 10px;
  }

  .acf-repeater > table.acf-table > tbody > tr.acf-row {
    display: block;
    margin-top: 15px;
  }

  .acf-repeater > table.acf-table > tbody > tr.acf-row:first-child {
    margin-top: 0px;
  }

  .acf-repeater .acf-row-handle.order + td {
    float: left;
    clear: left;
    width: 100%;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
  }

  .acf-repeater .acf-row.-collapsed .acf-row-handle.order + td {
    margin-bottom: 0px;
    border: none;
  }

  .acf-table > tbody > tr > td {
    padding-left: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }

  /* Icons + and - */
  .acf-repeater .acf-row-handle .acf-icon {
    display: none;
    position: absolute;
    top: 4px;
    right: 10px;
  }

  .acf-repeater .acf-row-handle .acf-icon:hover {
    cursor: pointer;
  }

  .acf-repeater .acf-row-handle .acf-icon.-plus,
  .acf-repeater .acf-row-handle .acf-icon.-duplicate,
    .acf-repeater .acf-row-handle .acf-icon.-collapse,
  .acf-repeater .acf-row-handle .acf-icon.-minus {
    margin-top: 2px;
    top: 14px;
  }

  .acf-repeater .acf-row-handle .acf-icon.-collapse {
    right: 86px;
  }

  .acf-repeater .acf-row-handle .acf-icon.-plus {
    right: 60px;
  }

  .acf-repeater .acf-row-handle .acf-icon.-duplicate {
    right: 34px;
  }

  .acf-repeater .acf-row-handle .acf-icon.-minus {
    right: 8px;
  }
  .acf-row-handle .acf-icon.-collapse {
    position: absolute;
    top: 24px;
    margin: -8px 0px 0px 0px;
    right: 62px;
  }

  .acf-repeater .acf-row-handle:hover .acf-icon {
    display: inline;
  }

  

  li {
    text-align: center;
    float: none;
    width: 100%;
    margin-left: 0px;
  }

  .button-primary {
    font-size: 14px;
    font-weight:400;
    min-height: 40px;
    line-height: 2.7;
    text-align: center;
    padding: 0px 40px;
    width: 100%;
  }

  .button-primary:before {
    content: "\f055";
    font-family: FontAwesome;
    left:-8px;
    position:relative;
    top:0;
  }

  div.acf-input label {
    display: block;
    padding: 7px;
    margin-bottom: 0px;
  }

  .acf-field .acf-label {
    margin-bottom: 0px;
  }

  .acf-field .acf-input {
    vertical-align: top;
    background-color: #fff;
    border-top: 0px;
  }

  .acf-field.acf-field-image .acf-input,
  .acf-field.acf-field-select .acf-input,
  .acf-field.acf-field-page-link .acf-input,
  .acf-field.acf-field-url .acf-input {
    padding: 7px;
  }

  .acf-field.acf-field-textarea label {
    padding-left: 0px;
    padding-right: 0px;
  }

  .acf-fields.-left > .acf-field > .acf-label, .acf-fields.-left > .acf-field > .acf-input {
    padding: 7px;
  }
  
  // Row View has labels on left, these styles fix some stuff
    
    // Left Stuff
      .acf-fields.-left > .acf-field:before {
        background: #fff;
        width: 20%;
        border-left: 1px solid #ddd;
      }
      .acf-fields.-left > .acf-field > .acf-label {
        width: 20%;
      }
    // /Left Stuff

    // Right Stuff
      .acf-fields.-left > .acf-field > .acf-input {
        width: 80%;
      }
    // /Right Stuff

  // /Row View

  .acf-clone-fields {
    border: 0px;
  }

  .acf-image-uploader .view {
    width: 100% !important;
  }

}// /.deck

////////
// /Deck


/* CAROUSEL */
.carousel .acf-repeater .acf-row-handle.order {
    float: left;
    width: 98.2%;
    background-color: #666;
    text-align: left !important;
    border: 0px;
    z-index: 1;
}

.carousel .acf-repeater .acf-row-handle.order span {
    background-color: #888;
    color: #fff;
    padding: 4px;
    text-shadow: none;
    padding-right: 0px;
    padding-left: 9px;
    margin-right: 5px;

}

.carousel .acf-repeater .acf-row-handle.order span::after {
    content: "  Carousel Item";
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    background-color: #666;
    padding: 4px;
    margin-left: 10px;
}

.carousel .acf-repeater .acf-table {
    background-color: #fff;
    border: 0px;
}

.carousel .acf-repeater > table.acf-table > tbody > tr.acf-row {
    display: block;
    overflow: hidden;
    border: 1px solid #666;
    margin-top: 30px;
}

.carousel .acf-repeater > table.acf-table > tbody > tr.acf-row:first-child {
    margin-top: 0px;
}

.carousel .acf-repeater .acf-row-handle.order + td {
    float: left;
    clear: left;
    width: 100%;
    background-color: #ddd;
    border: 0px;
}

.carousel .acf-table > tbody > tr > td {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    /* Icons + and - */
    .acf-repeater .acf-row-handle .acf-icon {
        display: none;
        position: absolute;
        top: 4px;
        right: 10px;
    }
    .acf-repeater .acf-row-handle .acf-icon:hover {
        cursor: pointer;
    }
    .carousel .acf-repeater .acf-row-handle .acf-icon.-plus {
        margin-top: 2px;
        top: 7px;
        right: 34px;
    }
    .carousel .acf-repeater .acf-row-handle .acf-icon.-minus {
        margin-top: 2px;
        top: 7px;
        right: 8px;
    }
    .acf-repeater .acf-row-handle:hover .acf-icon {
        display: inline;
    }


.carousel li {
    text-align: center;
    float: none;
    width: 100%;
    margin-left: 0px;
}

.carousel .button-primary {
    font-size: 14px;
    font-weight:400;
    min-height: 40px;
    line-height: 2.7;
    text-align: center;
    padding: 0px 40px;
    width: 100%;
}

.carousel .button-primary:before {
    content: "\f055";
    font-family: FontAwesome;
    left:-8px;
    position:relative;
    top:0;
}

.carousel div.acf-input label {
    background-color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 0px;
}

.carousel .acf-field .acf-label {
    margin-bottom: 0px;
}

.carousel .acf-field .acf-input {
    vertical-align: top;
    background-color: #fff;
    border-top: 0px;
    padding: 8px;
    padding-top: 6px;
}

.carousel .acf-field.acf-field-image .acf-input,
.carousel .acf-field.acf-field-select .acf-input,
.carousel .acf-field.acf-field-page-link .acf-input,
.carousel .acf-field.acf-field-url .acf-input {
    padding: 7px;
}

.carousel .acf-field.acf-field-textarea label,
.carousel .acf-field.acf-field-text label {
    padding-left: 8px;
    padding-bottom: 2px;
}

.carousel .acf-clone-fields {
    border: 0px;
}

.carousel .acf-image-uploader .view {
    width: 100% !important;
}




/* IMAGE */
.acf-image-select-list .acf-image-select .acf-image-select-selected img {
    border: solid 4px #0085ba !important;
}

/* Styles for ACF Tooltips */
.dashicons.dashicons-editor-help.tooltip {
    color: #454545;
    width: 18px;
    height: 18px;
    font-size: 20px;
    cursor: pointer!important;
}

.qtip-acf {
    background-color: #353535;
    border-color: #000000!important;
    color: #f3f3f3;
    border-radius: 3px;
    font-size: 12px !important;
    line-height: 1.3em !important;
}


.acf-youtubepicker .thumbnail img {
    display: block;
    object-fit: fill;
    min-height: 250px;
}
/* End ACF tootltips styles */

/*---------------------------------------------------------------------------------------------
*
*  Postbox: Fields
*
*---------------------------------------------------------------------------------------------*/
.acf-field-fancyrepeater {
  /* table header */
  /* field list */
  /* field object */
}
.acf-field-fancyrepeater .acf-clone {
  display: none;
}
.acf-field-fancyrepeater .no-fields-message {
  padding: 15px 15px;
}
.acf-field-fancyrepeater .acf-fancyrepeater-list-wrap {
  border: #DFDFDF solid 1px;
}
.acf-field-fancyrepeater .li-fancyrepeater-order {
  width: 22%;
  padding-right: 0 !important;
}
.acf-field-fancyrepeater .li-fancyrepeater-label {
  width: 78%;
}
.acf-field-fancyrepeater .li-fancyrepeater-name, .acf-field-fancyrepeater .li-fancyrepeater-type {
  width: 25%;
}
.acf-field-fancyrepeater .acf-fancyrepeater-list {
  background: #F9F9F9;
  border-top: #E1E1E1 solid 1px;
  margin-top: -1px;
}
.acf-field-fancyrepeater .acf-fancyrepeater-list a {
  text-decoration: none;
}
.acf-field-fancyrepeater .acf-fancyrepeater-list a:active, .acf-field-fancyrepeater .acf-fancyrepeater-list a:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object {
  border-top: #F0F0F0 solid 1px;
  background: #fff;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object:first-child {
  border-top: 0 none;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object.ui-sortable-helper {
  border-top-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #dfdfdf, 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 1px #dfdfdf, 0 1px 4px rgba(0, 0, 0, 0.1);
}
.acf-field-fancyrepeater .acf-fancyrepeater-object.ui-sortable-placeholder {
  -webkit-box-shadow: 0 -1px 0 0 #dfdfdf;
          box-shadow: 0 -1px 0 0 #dfdfdf;
  visibility: visible !important;
  background: #F9F9F9;
  border-top-color: transparent;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object.open + .acf-field-object {
  border-top-color: #E1E1E1;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .meta {
  display: none;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .handle li {
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .handle .acf-icon {
  margin: 1px 5px 0 0;
  cursor: move;
  background: transparent;
  float: left;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .handle strong {
  display: block;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 14px;
  min-height: 14px;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .handle .row-options {
  visibility: hidden;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object:hover > .handle .row-options {
  visibility: visible;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .handle .row-options a {
  margin-right: 4px;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .handle .delete-field:hover {
  color: #f00;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object.open > .handle {
  background: #3595BC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#46afdb), to(#3199c5));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #46afdb, #3199c5);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, #46afdb, #3199c5);
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #46afdb, #3199c5);
  /* Firefox 16+ */
  border: #268FBB solid 1px;
  text-shadow: #268FBB 0 1px 0;
  -webkit-box-shadow: inset #5FC8F4 0 1px 0 0;
          box-shadow: inset #5FC8F4 0 1px 0 0;
  color: #fff;
  position: relative;
  margin: -1px -1px 0 -1px;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object.open > .handle a {
  color: #fff !important;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object.open > .handle .acf-icon {
  border-color: #fff;
  color:#fff;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .settings {
  display: none;
  width: 100%;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .location-groups {
  margin-top: 10px;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object .handle .pre-field-key {
  background: #F9F9F9;
  border: #E1E1E1 solid 1px;
  padding: 5px;
  font: inherit;
  margin: 3px 0 0;
  float: left;
  border-radius: 3px;
  display: none;
}
.acf-field-fancyrepeater .acf-fancyrepeater-object.open > .handle .pre-field-key {
  border-color: #268FBB;
  background: transparent;
}

.acf-fancyrepeater-field-hide {
  display: none;
}


.acf-field-fancyrepeater .acf-table > tbody > tr > td.order {
    display:none;
}

.acf-field-fancyrepeater .acf-table.table-layout > tbody > tr > td.order {
    display:block;
}


/*# sourceMappingURL=acf-fancy-repeater-field-v5.css.map */
